---
import Title from "./Title.astro";
interface Props {
  title: string;
  img: string;
  slug: string;
}

const { title, img, slug } = Astro.props;
---

<li>
  <a
    href={`/${slug}`}
    class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl"
  >
    <Title title={title} />
    <img
      class="aspect-[389/500]"
      src={`${img}`}
      alt="Portada del libro Clean Code"
    />
  </a>
</li>
